
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

h1 {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    text-decoration: none;
    gap: 10px;
    color: #333;   
      
}

a:hover {
    color: rgb(233, 29, 29);
}

.home {    
    width: 600px;
    height: 400px;
    margin-left: 55px;
           
}

.store {  
    width: 100%;
    height: 100%;
}

table, th, td {
  border: 2px solid #333;
  border-collapse: collapse;
  padding: 3px;
   
}

main {
    display: flex;
    justify-content: center;    
 
}

footer {
    display: flex;
    justify-content: space-between;
       
}
