body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-style: oblique;
    text-shadow: 1px 1px 2px;   
    
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    background-color: #b46464;

}

nav, ul {
    display: flex;
    flex-flow: row nowrap;
    margin-right: -16;
    margin-left: -16;
       
}

nav, li {
    display: flex;
    padding-right: 20px;
    
}

nav, a {    
    color: #ffff;
    text-decoration: none;    

}

a:hover {    
    transform: scale(1.5);
    transition-duration: 0.5s;
    
}

.first-pag-img { 
    border-radius: 5px;      
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

.store-img {  
    border-radius: 5px;      
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

.contact-img {
    border-radius: 5px;      
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

table, th, td { 
  border: 2px solid #333;
  border-collapse: collapse;
  padding: 8px;
   
}

main {
    display: flex;
    justify-content: center;    
 
}

section  {
    padding: 35px;
    
}

.submit-btn {
    width: 250px;
    height: 25;
    margin: 23px 25px 23px;
    color: black;
    border: 1px solid #b46464;
    border-radius: 5px;
    background-color: whitesmoke;
        
}

.submit-btn:hover {
    background-color: #b46464;
    color: white
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #b46464;
    margin-right: -16;
    margin-left: -16;
    color:aliceblue;
    padding-left: 20px;
       
}

.footer-link {    
    padding-right: 20px;
    color: black;
}

.footer-link:hover {
    color: rgb(161, 196, 248);
}
