body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-style: oblique;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    background-color: #b46464;
    margin-left: 

}

nav, ul {
    display: flex;
    flex-flow: row nowrap;
    margin-right: -16;
    margin-left: -16;
       
}

nav, li {
    display: flex;
    padding-right: 20px;
    
}

nav, a {    
    color: #ffff;
    text-decoration: none;
    

}

a:hover {
    
    transform: scale(1.5);    
    
}

.first-pag-img {
    min-width: 50%;    
    width: 600px;
    height: 400px;
    margin: 5px 55px;
           
}

.store-img {  
    width: 100%;
    height: 100%;
}

table, th, td {
  border: 2px solid #333;
  border-collapse: collapse;
  padding: 3px;
   
}

main {
    display: flex;
    justify-content: center;    
 
}

footer {
    display: flex;
    justify-content: space-between;
       
}

.footer-link {
    color: brown
}
